@media only screen and (max-width: 1600px) {
    .course{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .sideBar{
        flex: 20%;
    }

    .signUp button, .signIn button{
        width: 95%;
    }
}
@media only screen and (max-width: 1200px) {
    .course-infor{
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 999px) {
    .sideBar {
        width: 100%;
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        z-index: 1;
        transition: margin-left 0.3s ease-in-out; 
        padding-top: 20px;  
    } 
    
    .sideBar.closed {
        margin-left: -100%;
    }

    .signUp button, .signIn button{
        width: 95%;
    }

    .main {
        width: 100%; 
    }
    .course {
        grid-template-columns: repeat(2, 1fr);
    }
    .searchCourseForm button{
        width: auto;
    }

    .coursePicture img{
        width: 100%;
    }

}
@media only screen and (max-width: 767px) {
    .course {
        grid-template-columns: repeat(1, 1fr);
    }
    
    form.searchCourseForm button{
        width: 10%;
    }

    form.searchCourseForm input[type=text] {
        width: 90%;
    }
}

@media only screen and (max-width: 467px) {
    .course {
        grid-template-columns: repeat(1, 1fr);
    }
    
    form.searchCourseForm button{
        width: 15%;
    }

    form.searchCourseForm input[type=text] {
        width: 85%;
    }
}