*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Google Sans',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.rotate-up {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out; 
}

.core{
    display: flex;
    /* background-color: #eaecee; */
}
.sideBar{
    flex: 15%;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
    color: #eaecee;
    background-color: #343a40;
    z-index: 1;
    transition: margin-left 0.3s ease-in-out;
}

.sideBar ul li{
    padding: 10px;
    cursor: pointer;
    position: relative;
    
}
.sideBar ul li:hover{
    background-color: #565d64;
}

.sideBar ul li a:hover{
    color: #42a5f5;
}

.sideBar ul li a{
    text-decoration: none;
    padding: 8px 0;
    display: block;
    width: 100%;
    font-size: 13px;
    font-weight: 700;
    color: rgba(199, 191, 191, 0.8);
    text-transform: uppercase;
}
.sideBar ul li a i{
    margin-right: 6px;
}

.topNavContainer{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.dropdown-btn{
    background: none;
    text-decoration: none;
    border: none;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.dropdown-btn:hover .fa-caret-down,
#lapTrinhDropDown:hover .fa-angle-down,
#englishDropDown:hover .fa-angle-down {
    color: #42a5f5;
}

.fa-caret-down, .fa-angle-down {
    float: right;
    color: #AEA9AB;
}

.dropdown-container, .nested-dropdown-container {
    display: none;
}


.nested-dropdown-btn.active .nested-dropdown-container {
    display: block;
}


/*  */

.title{
    text-decoration: none;
    padding: 5px 30px;
    font-size: 12px;
    font-weight: 700;
    color: rgba(199, 191, 191, 0.8);
    text-transform: uppercase;
}

.logo{
    margin: 15px 0 5px 0;
}

.logo, .signIn, .signUp{
    text-align: center;
    padding: 8px;
}
.signIn button{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    color: #42a5f5;
    background-color: transparent;
    background-image: none;
    border-color: #42a5f5;
    cursor: pointer;
}

.signIn button:hover{
    background-color: #42a5f5;
    color: white;
}

.signUp button{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    background-color: #ef5350;
    border-color: #ea1c18;
    cursor: pointer;
}

.signUp button:hover{
    background-color: #f3221f;
}

#closeSideBar{
    display: none;
}
.sideBar.closed {
    /* display: none; */
    margin-left: -100%;
}
.main{
    width: 100%;
}

.navSideBar{
    padding: 20px 0px;
}

.navSideBar ul {
    list-style: none;
}

.navSideBar ul li{
    padding: 5px 30px;
}


.s-content{
    margin: 0 auto;
    padding: 20px 50px;
    width: 100%;
    overflow-x: visible;
}
.sd-flex{
    display: flex;
    justify-content: space-between;
}
.navigation{
    position: sticky;
    top: 0;
    color: #eaecee;
    background-color: #343a40;
}
.toggle, #closeSideBar{
    padding: 9px 0;
    font-size: 1rem;
    line-height: 1;
    border-radius: inherit;
    min-width: 34px;
    height: 34px;
    text-align: center;
    border-radius: 50%!important;
    cursor: pointer;
}
.toggle:hover{
    background-color: rgb(11, 10, 10);
    
}
.toggle button{
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.account-BTN{
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: transparent;
    color: white;
}

.account-BTN:hover{
    background-color: rgb(122, 122, 122);
}

.account-BTN .fa-angle-down{
    padding: 5px;
    color: white;
}

.accountDropDownContainer{
    position: relative;
    display: inline-block;
}

.account-dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 5px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.account-dropdown-content a{
    color: black;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.account-dropdown-content a:hover{
    background-color: #c9caca;
}

.account-dropdown-content.show {
    display: block;
}

/* Item Course */
.searchCourseForm{
    margin: 10px 50px;
}

.searchCourseForm button{
    float: right;
    width: 3%;
    padding: 10px;
    color: rgb(75, 75, 75);
    font-size: 17px;
    border: 0.1px solid grey;
    /* border-left: none; */
    cursor: pointer;
    position: absolute;
    right: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchCourseForm input[type=text] {
    float: left;
    padding: 10px;
    font-size: 17px;
    border: 0.1px solid grey;
    width: 97%;
    background: #f1f1f1;
    border-radius: 5px;
}

.course{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.item-course{
    border-radius: 5px;
    height: auto;
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  
}
.item-course:hover{
    box-shadow: rgba(78, 78, 78, 0.2) 0px 8px 24px;  
}
.item-image{
    width: auto;
    height: auto;
}
.item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-content{
    padding: 15px;
}
.title-image{
    font-size: 16px;
    font-family: 'Google Sans',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 700;
    line-height: 1.2;
    color: #171717;
}
.vote-course{
    padding: 10px 0px;
    color: #ffca28!important;
}
.badge{
    background-color: #ffca28;
    padding-right: 0.7em;
    padding-left: 0.7em;
    border-radius: 10rem;
    font-weight: 700;
    text-align: center;
    font-size: .857143rem!important;
}
.course-detail{
    padding: 10px 0px;
}
.text-gray{
    color: #707070!important;
}
.voteCount{
    font-weight: 700!important;
}
.f-bold-700{
    font-weight: 700!important;
}
.detail-2{
    padding-top: 15px;
}
.text-red {
    color: #ef5350!important;
}

/* Course detail */
.courseDetailContainer{
    margin: 10px 50px;
    text-align: justify;
}

.courseHeader,
.courseOverview,
.courseTeacher,
.courseKnowledge{
    margin: 15px 0;
}
.course-infor{
    display: flex;
}

.course-left{
    padding: 10px;
    margin: 5px;
    width: 50%;
}

.course-right{
    margin: 5px;
    width: 50%;
    height: 100%;
}

.joinCourseBTN{
    text-align: center;
    margin: 20px;
}

.joinCourseBTN button{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ef5350;
    color: white;
    border: none;
    cursor: pointer;
}

.joinCourseBTN button:hover{
    background-color: #f56562;
}

.coursePicture img{
    width: 100%;    
}

/* Breadcrumb */
ul.breadcrumb {
    /* width: 94%; */
    padding: 10px 0;
    margin: 15px 50px;
    /* border-radius: 5px; */
    list-style: none;
    border-bottom: 1px solid rgb(211, 203, 203);
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #000000;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  /* Admin */
  .addButton, .editButton, .deleteButton{
    padding: 5px 30px;
    cursor: pointer;
    margin: 0 15px 0 0;
    border-radius: 5px;
    border: 0.5px solid #000000;
  }

  /* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

#courseName,
#courseAuthor{
    width: 100%;
    height: 35px;
    margin: 5px 0;
    padding: 10px;
}

